* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Fira Sans", "Open Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;

    background: var(--vscode-editor-background);
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: none;

    z-index: 0;
}

$std-padding: 8px;
$std-border-radius: 2px;

$node-border: var(--vscode-tab-border);
$socket-color: var(--vscode-gitDecoration-addedResourceForeground, rgb(17, 73, 146));
$default-color-bar: rgba(0, 0, 0, 0.5);

.node-root {
    position: absolute;

    top: 10px;
    left: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    background: var(--vscode-editorGroupHeader-tabsBackground);
    border-radius: $std-border-radius;
    border: 1px solid $node-border;
    color: var(--vscode-editor-foreground);

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);

    user-select: none;
    cursor: pointer;

    z-index: 1;

    &.active {
        outline: 1px solid rgba(179, 116, 87, 0.4);
    }

    transition: background-color ease-in-out 0.1s;

    transform-origin: top left;
}

.node-socket {
    position: absolute;
    top: 55%;
    width: 12px;
    height: 12px;

    cursor: pointer;

    &::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: 50%;
        background: $socket-color;
        border: 1px solid $node-border;
    }

    $min-ripple: 2px;
    $max-ripple: 5px;

    &::before {
        content: '';
        position: absolute;
        top: -$min-ripple;
        left: -$min-ripple;
        right: -$min-ripple;
        bottom: -$min-ripple;

        pointer-events: none;

        border-radius: 50%;
        background: rgba(0, 0, 0, 0.0);

        transition:
            top ease-in-out 0.1s,
            left ease-in-out 0.1s,
            right ease-in-out 0.1s,
            bottom ease-in-out 0.1s,
            background-color ease-in-out 0.1s;
    }

    &:hover::before {
        top: -$max-ripple;
        left: -$max-ripple;
        right: -$max-ripple;
        bottom: -$max-ripple;

        background: rgba(0, 0, 0, 0.5);
    }

    &:first-child {
        transform: translate(-50%, -50%);
        left: 0%;
    }

    &:last-child {
        transform: translate(50%, -50%);
        right: 0%;
    }
}

.node-color-bar {
    height: 4px;
    flex: 0 0 auto;
    border-radius: 2px;
    background-color: $default-color-bar;
    cursor: pointer;
}

.node-header {
    flex: 0 0 16px;
    font-size: 14px;
    font-weight: bold;

    $padding: $std-padding / 2;
    margin: $padding;
    padding: $padding;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;

    background: none;
    border: none;
    color: var(--vscode-editor-foreground);

    -webkit-appearance: none;
    appearance: none;

    border-radius: $std-border-radius;
    &:not(:disabled):focus {
        background: var(--vscode-editor-background);
    }
}

.node-content {
    flex: 1 1 64px;
    resize: none;

    margin: $std-padding;
    margin-top: 0;
    padding: $std-padding / 3;

    background: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);

    border: 1px solid var(--vscode-contrastBorder, rgba(0, 0, 0, 0));
    border-radius: $std-border-radius;

    &:focus {
        outline: none;
        border-color: var(--vscode-contrastActiveBorder);
    }
}
